.card {
    font-size: 2rem;
}

.card h1{
    font-size: 2.5rem;
}

#firstcard {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    /* min-height: 32.5rem; */
    height: auto;
}

#firstcard div {
    margin: 3rem;
}


